.deetel {
  background-image: url(HeroImage.png);
  width: 1440px;
  height: 700px;
  display: flex;
  flex-direction: column;
}
.deetel-useg {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;

  width: 352px;
  height: 122px;
  gap: 20px;
}

.pure-magic {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  color: white;
}

.tour {
  background-image: url(logo\ 1.svg);
  width: 100px;
  height: 34px;
  background-position: center;
  background-size: cover;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.dund {
  background-image: url(Location\ image.png);
  width: 1440px;
  height: 512px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  border-color: blue;
}
.zurag1 {
  background-image: url(1.png);
  width: 275.49px;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  border-color: blue;
}
.zurag2 {
  background-image: url(2.png);
  width: 275.49px;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  align-items: center;
}
.zurag3 {
  background-image: url(3.png);
  width: 275.49px;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.zurag4 {
  background-image: url(4.png);
  width: 275.49px;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.roadmap {
  background-image: url(Roadmap\ image.png);
  width: 1440px;
  height: 1022px;
}
.destination {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.tomoor {
  font-size: 30px;
  margin-top: 30px;
}
.n5-husnegt {
  display: flex;
  flex-direction: column;
  position: relative;
}
.suhbaatartom {
  background-color: beige;
  width: 500px;
  height: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.suhbaatar {
}
.Amarbaysgalantom {
  background-color: greenyellow;
  width: 500px;
  height: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.Amarbaysgalan {
}
.Khorgiintom {
  background-color: yellow;
  width: 500px;
  height: 100px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.khorgin {
}
.Terkhiintom {
  background-color: blue;
  width: 500px;
  height: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.Terkhiin {
}
.Khuvsgultom {
  background-color: darkblue;
  width: 500px;
  height: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.Khuvsgul {
}
.Day1 {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Day2 {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Day3 {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Day4 {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Day5 {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.doodoh {
  background-image: url(Price&Footer\ image.png);
  width: 1440px;
  height: 1120px;
}
.Frame176 {
  background-image: url(Frame\ 176.png);
  width: 369px;
  height: 369px;
  position: absolute;
  top: 80px;
  left: 1000px;
  opacity: 0;
}
.Frame177 {
  background-image: url(Frame\ 177.png);
  width: 369px;
  height: 369px;
  position: absolute;
  top: 150px;
  left: 800px;
  opacity: 0;
}
.Frame178 {
  background-image: url(Frame\ 178.png);
  width: 369px;
  height: 369px;
  position: absolute;
  top: 200px;
  left: 850px;
  opacity: 0;
}
.Frame179 {
  background-image: url(Frame\ 179.png);
  width: 369px;
  height: 369px;
  position: absolute;
  top: 250px;
  left: 750px;
  opacity: 0;
}
.p11111-png {
  background-image: url(11111\ \(1\).png);
  width: 369px;
  height: 369px;
  position: absolute;
  top: 300px;
  left: 700px;
  opacity: 0;
}
.n5-husnegt:has(.suhbaatartom:hover) .Frame176 {
opacity: 1;
}
.n5-husnegt:has(.Amarbaysgalantom) .Frame177{opacity: 1;}
.n5-husnegt:has(.Khorgiintom) .Frame178{opacity: 1;}
.n5-husnegt:has(.Terkhiintom) .Frame179{opacity: 1;}
.n5-husnegt:has(.Khuvsgultom) .p11111-png{opacity: 1;}